.idea
test
jmetal/FUN.NSGAII.SearchRO
jmetal/jmetalpy.log
jmetal/VAR.NSGAII.SearchRO
jmetal/FrontData
jmetal/NSGAII.eps
jmetal/solutionObjectives.txt
Visiualize/.ipynb_checkpoints
Visiualize/test_Plot.py
ResultGraph
.gitignore
*.pyc
*.DS_Store
code_ownership/test_PullRequestService.py
Visiualize/VisiualizeFront.ipynb


